@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: rgba(66, 68, 54, 1);
  font-size: 64px;
  font-weight: 700;
}

section {
  width: 100%;
  max-width: 1500px;
  padding: 80px 40px;
  background-color:var(--background-color);
  margin: 0 auto;
}

:root {
  --background-color: #fffff1;
  --navigation-color: black;
  --stoke-color: black;
  --color:black;
  --background-color-footer:#F2F6D3;
  --background-color-another:white;
  --border:#DDD;
  --sun:#8B8B8B;
  --moon:white;
  --background-color-bread: #fffff1;
  --fill:white;
  --stroke:black;
  --bandage:#f26d22;
  --plus-minus:black;
  --text-color: #424436;
}

[ data-theme= 'dark'] {
  --background-color: #424436;
  --navigation-color: white;
  --stoke-color: white;
  --color:white;
  --background-color-footer:#383A2C;
  --background-color-another:#383A2C;
  --border:#8B8B8B;
  --sun:white;
  --moon:#8B8B8B;
  --background-color-bread: none;
  --fill:none;
  --stroke:white;
  --bandage:#92a134; 
  --plus-minus:#8B8B8B;
  --text-color: #DDD;
}